@import '~theme/color.css' screen;

.login {
	background-color: var(--primary-light-color);
}

.login .container.center { }

.login .text {
	margin: 0;
	margin-top: 4px;
	margin-bottom: 4px;
}

.login .text.error {
	color: var(--primary-error-color);
}

.login .card .header,
.login .card .footer {
	justify-content: center;
}
