@import '~theme/color.css';

.card {
	padding: 16px;
	border-radius: 4px;
	background-color: white;
	box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
		0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.card .header {
	display: flex;
	justify-content: flex-start;
}

.card .header .title {
	font-size: 24px;
}

.card .footer {
	display: flex;
	justify-content: flex-start;
}
