@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400;700&display=swap');
@import url('https://necolas.github.io/normalize.css/latest/normalize.css');
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~theme/color.css';
@import '~theme/button.css';
@import '~theme/field.css';
@import '~theme/form.css';
@import '~theme/card.css';

* {
	font-family: 'JetBrains Mono', monospace;
}

html,
body,
.application {
	width: 100%;
	height: 100%;
}
