@import '~theme/color.css' screen;

.page {
	width: 100%;
	height: 100%;
}

.page h1,
.page h2,
.page h3,
.page h4,
.page h5,
.page h6 {
	margin: 0;
}

.page .container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
